*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.card{
    width: 20%;
    margin: 40px auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card::before{
    content: '';
    width: 100%;
    height: 33%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3175fd;
    z-index: -1;
}

.card .img{
    margin: 45px auto 30px;
}

.card .img img{
    height: 200px;
    width: 200px;
    border:5px solid #3175fd;
    border-radius: 50%;
    padding: 3px;
    background: white;
}

.head{
    width: 100%;
    text-align: center;
}

.head h1{
    font-size: 2rem;
}

.head p{
    font-size: 1.5rem;
    margin: 15px 0;
}

.card .social-icon{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card .social-icon i{
    
    border-radius: 50%;
    font-size: 3rem;
    padding: 30px 15px;
    
}


.card .btn-box{
    width: 100%;
   display: flex;;
   justify-content: center;
}


.card .btn-box .btn{
    display: flex;
    justify-content: center;
}


.card .btn-box .btn button{
    background: #3175fd;
    padding: 15px 25px;
    border-radius: 1000px;
    font-size: 1.5rem;
    margin: 6px;
    color: white;
    border: none;
}


.card .react-main{
    width: 100%;
    padding: 40px 5%;
}

.react-main .react{
    width: 100%;
    display: flex;
    justify-content: center;
}

.react-main .react i{
    font-size: 1.5rem;
    padding: 0 10px;
    margin: 10px;
    border-right: 1px solid black;
    letter-spacing: 1px;
}